<div class="container">
    <div class="row mt-4">
        <div class="col-10">
          <h2>Login</h2>
        </div>
    </div>

    <form [formGroup]="loginForm" novalidate>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="email">
        </div>
        <br>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Submit</button>
      </form>
    
    
    
    </div>